<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          <fa-icon [icon]="faPaw"></fa-icon>
          Floofs
          <fa-icon [icon]="faPaw"></fa-icon>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a (click)="auth.login()" *ngIf="!auth.loggedIn">
              <mat-icon class="icon">input</mat-icon>
              <span class="label label-spacing">Login</span>
            </a>
          </li>
          <li>
            <a routerLink="adoptions">
              <mat-icon class="icon"><span title="Home">home</span></mat-icon>
              <span class="label label-spacing">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="pet-profile" *ngIf="auth.loggedIn">
              <fa-icon [icon]="faPaw"></fa-icon>
              <span class="label label-spacing">Your Pets</span>
            </a>
          </li>
          <li *ngIf="auth.loggedIn">
            <span class="material-icons">
              notifications
            </span>
          </li>
          <li>
            <a (click)="auth.logout()" *ngIf="auth.loggedIn">
              <mat-icon class="icon">input</mat-icon>
              <span class="label label-spacing">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>