<div fxLayout="row" class="top-margin">
    <div fxFlexOffset="5" fxFlex="90">
        <div class="container" class="top-margin">
            <div class="row">
                <div *ngFor="let adoption of adoptions" class="col-md-4 top-margin">
                    <mat-card>
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="pet-header-image"></div> -->
                            <mat-card-title>{{adoption.petName}}</mat-card-title>
                            <mat-card-subtitle>{{adoption.breedName}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="pet-image">No images available</div>
                        <!-- <img mat-card-image class="pet-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo"> -->
                        <mat-card-actions>
                            <div class="actions">
                                <div class="status-chip">
                                    <mat-chip-list [ngSwitch]="adoption?.adoptionStatus">
                                        <mat-chip [color]="'primary'" *ngSwitchCase="Constants.Available">
                                            {{adoption?.adoptionStatus}}
                                        </mat-chip>
                                        <mat-chip [color]="'accent'" *ngSwitchCase="Constants.Pending">
                                            {{adoption?.adoptionStatus}}
                                        </mat-chip>
                                        <mat-chip [color]="'warn'" *ngSwitchCase="Constants.Closed">
                                            {{adoption?.adoptionStatus}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div class="center-items">
                                    <button mat-button *ngIf="(!profile || (profile.sub!==adoption.adopteeId))"
                                        (click)="adopt()">Adopt</button>
                                    <span *ngIf="(profile) && (profile?.sub===adoption.adopteeId)">This is your pet!</span>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="adoptions.length===0">No pets found for adoptions.</div>
        </div>
    </div>
</div>