.gender-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.gender-radio-button {
  margin: 5px;
}

.full-width {
  width: 100%;
}

.top-margin {
  margin-top: 20px;
}

.upload-box {
  width: 100%;
  height: 100%;
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload {
  width: 180px;
}

.file-upload-label {
  text-align: center;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.label-row {
  margin: 10px 10px;
}

.row-container {
  margin: 10px;
  border: 1px solid #d8d8d8;
}

.rows-wrapper {
  height: 350px;
}

.submit-button {
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  height: 65%;
  overflow: auto;
}
