<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <button mat-list-item (click)="auth.login()" *ngIf="!auth.loggedIn">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </button>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item type="button" (click)="auth.logout()" *ngIf="auth.loggedIn">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          <fa-icon [icon]="faPaw"></fa-icon>
          Floofs
          <fa-icon [icon]="faPaw"></fa-icon>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a (click)="auth.login()" *ngIf="!auth.loggedIn">
              <mat-icon class="icon">input</mat-icon>
              <span class="label label-spacing">Login</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">home</mat-icon>
              <span class="label label-spacing">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="profile" *ngIf="auth.loggedIn">
              <mat-icon class="icon">account_box</mat-icon>
              <span class="label label-spacing">Profile</span>
            </a>
          </li>
          <li>
            <a (click)="auth.logout()" *ngIf="auth.loggedIn">
              <mat-icon class="icon">input</mat-icon>
              <span class="label label-spacing">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>