.button-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

.label-spacing{
    margin-right: 15px;
    flex: 1;
}

.label-wrappers{
    display: flex;
    flex: 1 1 100%;
}

.custom-heading{
    margin: 0;
}

.breed{
    margin-bottom: 15px;
}

.buttons-wrapper{
    margin-top: 15px;
}